
[Unit]
Description=Power Off Trigger
After=multi-user.target

[Service]
Type=simple
ExecStart=/etc/power-off-trigger.py --trig 10 --period 5 --gpio-pin 23
User=pi
WorkingDirectory=/etc
Restart=always

[Install]
WantedBy=multi-user.target
